/*https://color.adobe.com/Black-Math-color-theme-183602/

#eb5937
#1c1919
#403d3c
#456f74
#d3cbbd  */


/*ENTIRE SITE CSS*/
@font-face {
    font-family: Iceland-Regular;
    src: url(Iceland-Regular.ttf);
}
h1,h2,h3{
  font-family: Iceland-Regular, Helvetica, Arial, sans-serif;
  color: #eb5937;
}

p{
  color: #d3cbbd;
}

li{
  color: #d3cbbd;
}

html, body {
  margin:0;
  padding:0;
  background-color: #403d3c;

}



/*HOMEPAGE CSS*/
.name-Container{

  border-top: 1px solid #d3cbbd;
  border-bottom: 1px solid #d3cbbd;
  border-top-style: dashed;
  border-bottom-style: dashed

}
.socialMediaButtons{
  margin:10px;
}

main{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
}

/*PORTFOLIO PAGE STYLING */
.portfolioContainer{
  text-align: center;
  position:absolute;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Iceland-Regular, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.portfolioImage{
  box-sizing: border-box;
  max-width: 100%;
   height: auto;
  margin:5px 10px 5px 10px;
  padding:5px;
}

.portfolioDiv{
  text-align: center;
  color:#eb5937;
  display: flex;
  justify-content: space-between;
  margin:5px;
}

/*ABOUT ME PAGE STYING*/
.aboutMeContainer{
  background-color: #456f74;
  border:1px solid #1c1919;
  margin-left: 10%;
  margin-right:10%;
  border-radius: 25px;
  margin-top: 2%;
  padding: 10px;

}

/* LINK AND BUTTON STYLING */
button {
  font-family: Iceland-Regular, Helvetica, Arial, sans-serif;
  font-size:15px;
  background-color: #1c1919;
  border-color: #1c1919;
  color:#eb5937;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #D85C38; /* Green */
    color: #d3cbbd;
}

a{
  color:#eb5937;
text-decoration: none;
}
a:hover{
  color: d3cbbd;
}
/*NAVIGATION BAR CSS*/

ul.topNav{
  font-family: Iceland-Regular, Helvetica, Arial, sans-serif;
list-style-type: none;
overflow: hidden;
background-color: #1c1919;
margin:0;
padding:0px;
}

ul.topNav li{
  float: left;
}

ul.topNav li a{
  display: inline-block;
  color:#eb5937;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topNav li a:hover{
  background-color: #D85C38;
  color: #d3cbbd;
}


ul.topNav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topNav li:not(:last-child) {display: none;}

  ul.topNav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:340px) {
  ul.topNav li:not(:last-child) {display: none;}
  ul.topNav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topNav.responsive {position: relative;}
  ul.topNav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topNav.responsive li {
    float: none;
    display: inline;
  }
  ul.topNav.responsive li a {
    display: block;
    text-align: left;
  }
}
